@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.exploring {
  position: relative;
}
.exploring .slick-dots {
  display: flex !important;
  justify-content: center;   
  align-items: center;
  gap: 10px;                 
  position: absolute;
  bottom: -40px;         
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.exploring .slick-dots li {
  padding: 0;
  margin: 0;
}

.exploring .slick-dots li button {
  width: 8px;
  height: 8px;
  background: gray;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s linear;
  border: none;

}

.exploring .slick-dots li:hover button {
  background: #111827; 
}

/* -----------------banner part slider------------- */

#Banner .slick-dots {
  display: flex !important;
  justify-content: center;   
  align-items: center;
  gap: 10px;                 
  position: absolute;
  bottom: 25px;         
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}



#Banner .slick-dots li button {
  width: 8px;
  height: 8px;
  background: gray;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s linear;
  border: none;

}

#Banner .slick-dots li:hover button {
  background: #111827; 
}

/* ---------------explore --------- */
.expolore {
  position: relative;
}

.expolore .slick-dots {
  display: flex !important;
  gap: 10px;                 
  position: absolute;
  bottom: 32px; 
  left: 24px;

}



.expolore .slick-dots li button {
  width: 8px;
  height: 8px;
  background: gray;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s linear;
  border: none;

}

.expolore .slick-dots li:hover button {
  background: #111827; 
}
